// Single Content Start
.title {
  position: relative;
  width: 100%;
  border-bottom: 2px solid rgba(205, 194, 255, 0.1);
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .head-text {
      color: #fff;
      padding-bottom: 8px;
      padding-right: 5px;
      border-bottom: 2px solid red;
      margin: 0 0 -1.5px;
      font-weight: 400;
      font-size: 16px;
      display: flex;
      align-items: center;
      .icon {
        margin-right: 4px;
      }
    }
    .head-text-right {
      color: #ffffffcc;
      padding-bottom: 8px;
      padding-right: 5px;
      margin: 0 0 -1.5px;
      font-weight: 400;
      font-size: 16px;
      display: flex;
      align-items: center;
    }
  }
  .movie-name {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 13px;
  }
}

// Video top

.video-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width:1000px) {
    display: block;
  }
  h4 {
    display: inline-block;
    background: #bf1d1d;
    padding: 5px 5px 4px 6px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    cursor: default;
    &:hover {
      background: red;
    }
    @media (max-width:1000px) {
    margin-bottom: 10px;
  }
  }

  .manage-video {
    display: flex;
    button {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #fff;
      padding: 4px 5px;
      font-size: 12px;
      border: 0;
      border-radius: 5px;
      background-color: rgb(156 30 30 / 45%);
      &:nth-child(2) {
        margin: 0 4px;
      }
      .manage-video-icon {
        margin-right: 4px;
      }
      &:hover {
        background: #794242;
      }
    }
  }
}

// Single Content End