// Single Content Start
.title {
  position: relative;
  width: 100%;
  border-bottom: 2px solid rgba(205, 194, 255, 0.1);
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .head {
    color: #fff;
    padding-bottom: 8px;
    padding-right: 5px;
    border-bottom: 2px solid red;
    margin: 0 0 -1.5px;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    .icon {
      margin-right: 4px;
    }
  }
  .movie-name {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 13px;
  }
}
// Single Content End
