// Home Start
.main-content {
  .container {
    .content-row {
      padding: 12px 14px 8px 20px;
      background-color: #0e0e0e;
      display: flex;
      justify-content: space-between;
    }
  }
}
// Home End

// Filter Movies start
.filter-movies {
  display: flex;
  flex-direction: column;
  width: 255px;
  @media (max-width: 1000px) {
    display: none;
  }
}
// Filter Movies End
