// Home Start
.main-content {
  .container {
    .content-row {
      padding: 12px 20px 8px;
      background-color: #0e0e0e;
      display: flex;
      justify-content: space-between;
    }
  }
}
// Home End
